p-
  <section class="flex justify-center items-center">
    <p-card header="Acerca de este proyecto">
      <div class="m-0">
        Este proyecto trata de un gestor de tareas simple, desarrollado con Angular.

        En la aplicación se pueden realizar las siguientes acciones:
        <ul>
          <li>Crear tareas</li>
          <li>Ver tareas</li>
          <li>Ver descripción detallada de una tarea</li>
          <li>Editar tareas</li>
          <li>Eliminar tareas</li>
          <li>Marcar tareas como completadas</li>
          <li>Marcar tareas como pendientes</li>
          <li>Marcar tareas como en progreso</li>
          <li>Marcar tareas como caducadas</li>
        </ul>
      </div>
    </p-card>
  </section>
