  <mat-card appearance="outlined" class="h-auto">
    <mat-card-header class="mb-1">
      <div class="w-full">
        <mat-card-title (click)="openDialog(photo)"><p class="text-3xl">{{photo.title}}</p></mat-card-title>
        <mat-card-subtitle><p class="text-gray-300 text-sm w-full flex justify-end">Publicado el {{photo.created_at | date}} a las {{photo.created_at | date : "shortTime"}}</p></mat-card-subtitle>
      </div>
    </mat-card-header>
    <div class="image-container">
      <img mat-card-image [src]="photo.image" alt="Photo not loaded" class="w-full h-72 object-contain" (click)="openDialog(photo)">
    </div>
    <mat-card-actions>

      <button mat-button (click)="toggleFavorite()">
      @if(photo.favorite){
        <mat-icon>favorite</mat-icon>
      }@else{
        <mat-icon>favorite_outline</mat-icon>
      }
      </button>
      <button mat-button (click)="openDeleteDialog()"><mat-icon class="mat-18">delete</mat-icon></button>
    </mat-card-actions>
  </mat-card>
