/* You can add global styles to this file, and also import other style files */
:root {
  --theme-color: #6c42c7;
}

html {
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

main {
  padding: 0;
  width: 100%;
}
