<form [formGroup]="form" (ngSubmit)="uploadImage()" class="flex flex-col gap-2">
  <mat-form-field>
    <mat-label>Título</mat-label>
    <input matInput placeholder="Un título inspirador, ej: Supera tus límites" formControlName="title">
    <span galleryFormError [form]="form" key="title"></span>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Descripción</mat-label>
    <textarea matInput placeholder="Una descripción que exprese tus pensamientos, ej: Quiero superarme día tras día"
    formControlName="description"></textarea>
    <span galleryFormError [form]="form" key="description"></span>
  </mat-form-field>

  <div class="flex flex-col gap-1">
    <label>Imagen</label>
    <input type="file" formControlName="image">
    <span galleryFormError [form]="form" key="image"></span>
  </div>
  <button mat-raised-button color="primary">Subir imagen</button>
</form>
