<h2>Países</h2>
<hr/>

<ul class="list-group">
  <!--routerLink sirve para especificar la ruta a la que ira al presionarse. routerLinkActive sirve para añadir clases al item especificado si la ruta esta activa-->
  <li routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">Home</li>
  <li routerLink="about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">About</li>
  <li routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">Contact</li>
</ul>
