<h2>Países</h2>
<hr/>

<ul class="list-group">
  <!--routerLink sirve para especificar la ruta a la que ira al presionarse. routerLinkActive sirve para añadir clases al item especificado si la ruta esta activa-->
  <li routerLink="countries/by-capital" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">By Capital</li>
  <li routerLink="countries/by-region" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">By Region</li>
  <li routerLink="countries/by-country" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">By Country</li>
</ul>
