<p-button (onClick)="toggleForm()" icon="pi pi-plus-circle" size="large"></p-button>

<p-dialog header="+ Nueva tarea" [modal]="true" [(visible)]="isFormVisible" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-5">Añade una nueva tarea</span>
  <form [formGroup]="form" (ngSubmit)="createTask()">
    <div class="flex flex-col align-items-center gap-3 mb-3">
      <label for="title" class="font-semibold w-6rem">Título</label>
      <input pInputText id="title" class="flex-auto border" autocomplete="off" type="text" aria-describedby="title-help"
        formControlName="title" />
      <small id="title-help">
        Introduce el título de la tarea. Ej: Comprar pan
      </small>
      <span taskControlAlert fieldName="title" [form]="form"></span>
    </div>
    <div class="flex flex-col align-items-center gap-3 mb-5">
      <label for="description" class="font-semibold w-6rem">Descripcion</label>
      <textarea pInputTextarea id="description" class="flex-auto border" autocomplete="off"
        aria-describedby="description-help" formControlName="description"></textarea>
      <small id="description-help">
        Introduce más detalles acerca de la tarea. Ej: Debo ir a comprar pan al supermercado de la esquina
      </small>
      <span taskControlAlert fieldName="description" [form]="form"></span>
    </div>
    <div class="flex flex-col items-center gap-3 mb-5">
      <label for="time" class="font-bold block mb-2">Fecha: </label>
      <div class="inline-block">
        <p-calendar inputId="time" [showTime]="true" [hourFormat]="'24'" [showIcon]="true" class="border rounded"
          aria-describedby="time-help" formControlName="dueDate" [minDate]="minDate" [maxDate]="maxDate"
          [appendTo]="'body'"></p-calendar>
      </div>
      <small id="time-help">
        Introduce la fecha y hora en la que deseas realizar la tarea.
      </small>
      <span taskControlAlert fieldName="dueDate" [form]="form"></span>
    </div>
    <div class="flex justify-between gap-2">
      <p-button class="p-2 rounded" label="Cancelar" severity="secondary" (onClick)="toggleForm()" />
      <p-button class="bg-primary text-white p-2 rounded" label="Guardar" type="submit"
        icon="pi pi-bookmark" />
    </div>
  </form>
</p-dialog>

