<header class="flex justify-between items-center p-5">
  <nav>
    <nav class="flex items-center gap-2 text-primary">
      <i class="pi pi-check-circle"></i>
      <span>TaskFlow</span>
    </nav>
  </nav>
  <nav>
      <ul class="flex gap-24">
        <nav>
            <li>
              <tasks-form></tasks-form>
            </li>
        </nav>
        <nav class="flex gap-4">
          <li *ngFor="let item of items" class="flex gap-2" routerLinkActive="text-primary" [routerLinkActiveOptions]="{exact: true}">
            <i [class]="item.icon" class="text-xl"></i>
            <a [routerLink]="item.routerLink">{{item.label}}</a>
          </li>
        </nav>
      </ul>
  </nav>
</header>


<!--<p-dialog header="+ Nueva tarea" [modal]="true" [(visible)]="isFormVisible" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-5">Añade una nueva tarea</span>
  <form [formGroup]="form" (ngSubmit)="createTask()">
    <div class="flex flex-col align-items-center gap-3 mb-3">
      <label for="title" class="font-semibold w-6rem">Título</label>
      <input pInputText id="title" class="flex-auto border" autocomplete="off" type="text" aria-describedby="title-help" formControlName="title" />
      <small id="title-help">
        Introduce el título de la tarea. Ej: Comprar pan
      </small>
      <span taskControlAlert fieldName="title" [form]="form"></span>
    </div>
    <div class="flex flex-col align-items-center gap-3 mb-5">
      <label for="description" class="font-semibold w-6rem">Descripcion</label>
      <textarea pInputTextarea id="description" class="flex-auto border" autocomplete="off" aria-describedby="description-help"
      formControlName="description"></textarea>
      <small id="description-help">
        Introduce más detalles acerca de la tarea. Ej: Debo ir a comprar pan al supermercado de la esquina
      </small>
      <span taskControlAlert fieldName="description" [form]="form"></span>
    </div>
    <div class="flex flex-col items-center gap-3 mb-5">
      <label for="time" class="font-bold block mb-2">Fecha: </label>
      <div class="inline-block">
        <p-calendar inputId="time" [showTime]="true" [hourFormat]="'24'" [showIcon]="true"
          class="border rounded" aria-describedby="time-help" formControlName="dueDate" [minDate]="minDate"
          [maxDate]="maxDate" [appendTo]="'body'"></p-calendar>
      </div>
      <small id="time-help">
        Introduce la fecha y hora en la que deseas realizar la tarea.
      </small>
      <span taskControlAlert fieldName="dueDate" [form]="form"></span>
    </div>
    <div class="flex justify-between gap-2">
      <p-button class="p-2 rounded" label="Cancelar" severity="secondary" (onClick)="toggleForm()"/>
      <p-button class="bg-primary text-white p-2 rounded" label="Guardar" icon="pi pi-bookmark" type="submit"/>
    </div>
  </form>
</p-dialog>-->
