<p-panel [showHeader]="true" class="p-1">
  <h1>Pipes básicos</h1>
  <p>Pipes incluidos en Angular - Usualmente en el CommonModule</p>
</p-panel>
<div class="grid p-5">
  <div class="col-12 md:col-4">
    <p-card header="Numbers">
      <ul>
        <li>number: {{price }}</li>
        <li>number | number: '1.2-2': {{price | number: '1.2-2'}}</li>
        <li>{{price | currency : currentCurrency}}</li>
      </ul>
    </p-card>
  </div>
<div class="col-12 md:col-4">
  <p-card header="Percent">
    <ul>
      <li>percent: {{percentage }}</li>
      <li>percent | percent: {{percentage | percent}}</li>
      <li>percent | percent: '1.2-2': {{percentage | percent: '1.2-2'}}</li>
    </ul>
  </p-card>
</div>

